# Easy Money - Recomendation

In [21]:
import pandas as pd
import numpy as np
import os

from sklearn.cluster import KMeans
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler

## Configurations

In [2]:
__POTENTIAL_CLIENTS_PATH__ = "../reports/potential_clients"
__POTENTIAL_CLIENTS_SAMPLE__ = "../reports/potential_clients_sample.csv"

## Functions

In [3]:
def one_hot_encode(dataframe: pd.DataFrame, column_name: str) -> pd.DataFrame:
    _dummy_dataset = pd.get_dummies(dataframe[column_name], prefix=column_name)
    return pd.concat([dataframe, _dummy_dataset], axis=1).drop([column_name], axis=1)

def encode_dataframe(dataframe: pd.DataFrame) -> pd.DataFrame:
    cat_columns = [col for col in dataframe.select_dtypes(exclude=[np.number, "datetime"]).columns]
    print(f"columns to encode: {cat_columns}")

    print(f"dataframe before one-hot encoding: {dataframe.shape}")
    for cat_col in cat_columns:
        dataframe = one_hot_encode(dataframe, cat_col)

    print(f"dataframe after one-hot encoding:  {dataframe.shape}")
    return dataframe

## Import data

In [4]:
dtypes = {'pk_cid': 'int64', 'active_customer': 'int8',
          'region_code': 'int8', 'gender': 'int8', 'age': 'int8', 'deceased': 'int8',
          'short_term_deposit': 'int8', 'loans': 'int8', 'mortgage': 'int8',
          'funds': 'int8', 'securities': 'int8', 'long_term_deposit': 'int8',
          'em_account_pp': 'int8', 'credit_card': 'int8', 'payroll': 'int8',
          'pension_plan': 'int8', 'payroll_account': 'int8', 'emc_account': 'int8',
          'debit_card': 'int8', 'em_account_p': 'int8', 'em_acount': 'int8',
          'entry_date_month': 'int8', 'entry_date_year': 'int8', 'entry_date_day': 'int8',
          'entry_date_week': 'int8', 'entry_date_weekday': 'int8', 'entry_date_trim': 'int8',
          'salary': 'float64', 'entry_channel_004': 'int8', 'entry_channel_007': 'int8',
          'entry_channel_013': 'int8', 'entry_channel_KAA': 'int8', 'entry_channel_KAB': 'int8',
          'entry_channel_KAD': 'int8', 'entry_channel_KAE': 'int8', 'entry_channel_KAF': 'int8',
          'entry_channel_KAG': 'int8', 'entry_channel_KAH': 'int8', 'entry_channel_KAI': 'int8',
          'entry_channel_KAJ': 'int8', 'entry_channel_KAK': 'int8', 'entry_channel_KAM': 'int8',
          'entry_channel_KAQ': 'int8', 'entry_channel_KAR': 'int8', 'entry_channel_KAS': 'int8',
          'entry_channel_KAT': 'int8', 'entry_channel_KAW': 'int8', 'entry_channel_KAY': 'int8',
          'entry_channel_KAZ': 'int8', 'entry_channel_KBE': 'int8', 'entry_channel_KBG': 'int8',
          'entry_channel_KBH': 'int8', 'entry_channel_KBO': 'int8', 'entry_channel_KBU': 'int8',
          'entry_channel_KBW': 'int8', 'entry_channel_KBY': 'int8', 'entry_channel_KBZ': 'int8',
          'entry_channel_KCB': 'int8', 'entry_channel_KCC': 'int8', 'entry_channel_KCH': 'int8',
          'entry_channel_KCI': 'int8', 'entry_channel_KCK': 'int8', 'entry_channel_KCL': 'int8',
          'entry_channel_KDA': 'int8', 'entry_channel_KDH': 'int8', 'entry_channel_KDR': 'int8',
          'entry_channel_KDS': 'int8', 'entry_channel_KDT': 'int8', 'entry_channel_KEH': 'int8',
          'entry_channel_KEJ': 'int8', 'entry_channel_KES': 'int8', 'entry_channel_KEY': 'int8',
          'entry_channel_KFA': 'int8', 'entry_channel_KFC': 'int8', 'entry_channel_KFD': 'int8',
          'entry_channel_KFF': 'int8', 'entry_channel_KFK': 'int8', 'entry_channel_KFL': 'int8',
          'entry_channel_KFP': 'int8', 'entry_channel_KFS': 'int8', 'entry_channel_KGC': 'int8',
          'entry_channel_KGN': 'int8', 'entry_channel_KGX': 'int8', 'entry_channel_KHC': 'int8',
          'entry_channel_KHD': 'int8', 'entry_channel_KHE': 'int8', 'entry_channel_KHF': 'int8',
          'entry_channel_KHK': 'int8', 'entry_channel_KHL': 'int8', 'entry_channel_KHM': 'int8',
          'entry_channel_KHN': 'int8', 'entry_channel_KHO': 'int8', 'entry_channel_KHP': 'int8',
          'entry_channel_KHQ': 'int8', 'entry_channel_KHS': 'int8', 'entry_channel_RED': 'int8',
          'entry_channel_UNKNOWN': 'int8', 'segment_00 - OTROS': 'int8',
          'segment_01 - TOP': 'int8', 'segment_02 - PARTICULARES': 'int8',
          'segment_03 - UNIVERSITARIO': 'int8', 'country_id_AR': 'int8', 'country_id_AT': 'int8',
          'country_id_BE': 'int8', 'country_id_BR': 'int8', 'country_id_CA': 'int8',
          'country_id_CH': 'int8', 'country_id_CI': 'int8', 'country_id_CL': 'int8',
          'country_id_CM': 'int8', 'country_id_CN': 'int8', 'country_id_CO': 'int8',
          'country_id_DE': 'int8', 'country_id_DJ': 'int8', 'country_id_DO': 'int8',
          'country_id_DZ': 'int8', 'country_id_ES': 'int8', 'country_id_ET': 'int8',
          'country_id_FR': 'int8', 'country_id_GA': 'int8', 'country_id_GB': 'int8',
          'country_id_GT': 'int8', 'country_id_HU': 'int8', 'country_id_IE': 'int8',
          'country_id_IT': 'int8', 'country_id_JM': 'int8', 'country_id_LU': 'int8',
          'country_id_MA': 'int8', 'country_id_MR': 'int8', 'country_id_MX': 'int8',
          'country_id_NO': 'int8', 'country_id_PE': 'int8', 'country_id_PL': 'int8',
          'country_id_PT': 'int8', 'country_id_QA': 'int8', 'country_id_RO': 'int8',
          'country_id_RU': 'int8', 'country_id_SA': 'int8', 'country_id_SE': 'int8',
          'country_id_SN': 'int8', 'country_id_US': 'int8', 'country_id_VE': 'int8',
          'prediction': 'int8', 'product_to_sale': 'str'}

parse_dates = ['pk_partition']

In [5]:
%%time
potential_client_files = os.listdir(__POTENTIAL_CLIENTS_PATH__)

df = None
for potential_client_file in potential_client_files:
    if df is None:
        df = pd.read_csv(f"{__POTENTIAL_CLIENTS_PATH__}/{potential_client_file}", dtype=dtypes, parse_dates=parse_dates)
    else:
        df = df.append(pd.read_csv(f"{__POTENTIAL_CLIENTS_PATH__}/{potential_client_file}", dtype=dtypes, parse_dates=parse_dates))

df.drop("Unnamed: 0", axis=1, inplace=True)
df["pk_partition"] = pd.to_datetime(df["pk_partition"])
df["product_to_sale"].value_counts()

Wall time: 85 ms

em_acount          3984
debit_card          666
payroll_account     342
Name: product_to_sale, dtype: int64

In [6]:
df[["pk_cid", "score", "product_to_sale"]]

      pk_cid     score  product_to_sale
0     142278  0.526777       debit_card
1     204957  0.589198       debit_card
2     281591  0.709943       debit_card
3     288155  0.610640       debit_card
4     471828  0.617580       debit_card
..       ...       ...              ...
337  1547078  0.531277  payroll_account
338  1547115  0.578667  payroll_account
339  1547286  0.528678  payroll_account
340  1547549  0.979754  payroll_account
341  1547660  0.979292  payroll_account

[4992 rows x 3 columns]

## Muestra de 1000 potenciales clientes

In [7]:
potential_client_sample = df[["pk_cid", "product_to_sale"]].sample(1000).reset_index(drop=True)
potential_client_sample.columns = ["id_user", "segment"]
potential_client_sample.to_csv(__POTENTIAL_CLIENTS_SAMPLE__)
potential_client_sample

     id_user          segment
0    1060802        em_acount
1     790318        em_acount
2    1015384        em_acount
3    1195514        em_acount
4    1335030        em_acount
..       ...              ...
995  1386911        em_acount
996  1351113        em_acount
997  1547286  payroll_account
998  1340168        em_acount
999  1225910        em_acount

[1000 rows x 2 columns]

In [8]:
columns = ["gender", "age", "salary", "product_to_sale"]

In [9]:
df_prep = df.copy(deep=True)[columns]
df_prep

     gender  age      salary  product_to_sale
0         1   53   98093.580       debit_card
1         1   40  113508.195       debit_card
2         1   44  106886.910       debit_card
3         0   57   84147.960       debit_card
4         1   35   83924.685       debit_card
..      ...  ...         ...              ...
337       0   23  143288.010  payroll_account
338       1   21  101198.115  payroll_account
339       1   27  112586.895  payroll_account
340       0   34  115250.850  payroll_account
341       0   32  176497.470  payroll_account

[4992 rows x 4 columns]

In [10]:
df_prep = encode_dataframe(df_prep)
print(f"""
columns = {list(df_prep.columns)}""")

columns to encode: ['product_to_sale']
dataframe before one-hot encoding: (4992, 4)
dataframe after one-hot encoding:  (4992, 6)

columns = ['gender', 'age', 'salary', 'product_to_sale_debit_card', 'product_to_sale_em_acount', 'product_to_sale_payroll_account']

In [11]:
# Cuentas
# account_types = ["em_acount"]
# df_prep["is_account"] = df_prep["product_to_sale"].isin(account_types)
# df_prep["is_account"] = df_prep["is_account"].astype(int)
# Ahorros e inversion
# savings_and_investment = ["payroll_account"]
# df_prep["is_savings_and_investment"] = df_prep["product_to_sale"].isin(savings_and_investment)
# df_prep["is_savings_and_investment"] = df_prep["is_savings_and_investment"].astype(int)
# Ahorros e inversion
# funding = ["debit_card"]
# df_prep["is_funding"] = df_prep["product_to_sale"].isin(funding)
# df_prep["is_funding"] = df_prep["is_funding"].astype(int)

## Clustering

In [12]:
processed_df = df_prep.copy(deep=True)

In [13]:
%%time
pipeline = Pipeline(steps=[
    ("Scale", MinMaxScaler()),
    ("Clustering", KMeans(n_clusters=5))
])

pipeline.fit(processed_df)

Wall time: 168 ms

Pipeline(steps=[('Scale', MinMaxScaler()),
                ('Clustering', KMeans(n_clusters=5))])

In [14]:
processed_df["cluster"] = pipeline.predict(processed_df)
processed_df

,gender,age,salary,product_to_sale_debit_card,product_to_sale_em_acount,product_to_sale_payroll_account,cluster
0,1,53,98093.580,1,0,0,2
1,1,40,113508.195,1,0,0,2
2,1,44,106886.910,1,0,0,2
3,0,57,84147.960,1,0,0,4
4,1,35,83924.685,1,0,0,2
...,...,...,...,...,...,...,...
337,0,23,143288.010,0,0,1,3
338,1,21,101198.115,0,0,1,3
339,1,27,112586.895,0,0,1,3
340,0,34,115250.850,0,0,1,3
341,0,32,176497.470,0,0,1,3

## Observation of results

In [19]:
cluster_gb = processed_df.groupby("cluster")

cluster_size = cluster_gb.size().to_frame()
cluster_size.columns = ["cluster_size"]

cluster_report = cluster_gb.agg(
    gender = ("gender", np.mean),
    age_mean = ("age", np.mean),
    age_mode = ("age", lambda serie: np.round(serie.mode().iat[0], 2)),
    salary_mean = ("salary", np.mean),
    # is_account = ('is_account', np.mean),
    # is_savings_and_investment = ('is_savings_and_investment', np.mean),
    # is_funding = ('is_funding', np.mean)
    debit_card = ("product_to_sale_debit_card", np.mean),
    em_acount = ("product_to_sale_em_acount", np.mean),
    payroll_account = ("product_to_sale_payroll_account", np.mean)
)

cluster_report = cluster_size.T.append(cluster_report.T)
cluster_report

cluster,0,1,2,3,4
cluster_size,2011.000000,1973.000000,297.000000,342.000000,369.000000
gender,1.000000,0.000000,1.000000,0.418129,0.000000
age_mean,30.836897,32.526609,37.582492,35.058480,37.327913
age_mode,23.000000,23.000000,33.000000,37.000000,33.000000
salary_mean,117289.517499,120370.090666,140225.718737,107473.476447,103257.321341
debit_card,0.000000,0.000000,1.000000,0.000000,1.000000
em_acount,1.000000,1.000000,0.000000,0.000000,0.000000
payroll_account,0.000000,0.000000,0.000000,1.000000,0.000000

In [20]:
cluster_report.style.background_gradient(cmap="BuGn", axis=1)